<div class="text-center container mt-5">
    <h3>Random passcode (passcode #@ViewBag.count)</h3>
    <partial name="PasswordPartial" />
    <a class="btn btn-dark mt-2" href="/generate">Generate</a>
</div>
